.loader{
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: white rgba(0, 0, 0, 0.09) rgba(0, 0, 0, 0.09) rgba(0, 0, 0, 0.09);
    animation: linear infinite 0.7s spin;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}