:root{
    --skill-arrow-transform : calc(87.5% - 1.5em);
}

@font-face {
    font-family: "FORTE";
    src: url('../fonts/FORTE.TTF');
}

@font-face {
    font-family: "BRLNSB";
    src: url('../fonts/BRLNSR.TTF');
}

.font-forte{
    font-family: "FORTE";
}

.font-brlnsb{
    font-family: "BRLNSB";
}

.skill-categories-container:before{
    content: "";
    position: absolute;
    top: -1.7em;
    transition: all 0.3s ease-in-out;
    left: var(--skill-arrow-transform);
    border-style: solid;
    border-width: 0 1.5rem 1.5rem;
    border-color: #ed8936 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.project-item:hover > img{
    transform: scale(1.1);
}

.project-item:hover > .project-item-bg{
    opacity: 0.2;
}

.project-item-text-container:before{
    content: '';
    height:3px;
    position: absolute;
    background-color: orange;
    transition:all 0.25s ease-in-out;
    width:0;
}
.project-item:hover > div .project-item-text-container:before{
    width: 100%;
}